@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('./source/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    overflow: auto;
}

.image-content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {    
    font-weight: 700;
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

p {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0;
    color: #555;
}

#ctaButton {
    background: linear-gradient(to right, #03f022, #00ff80);
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
}

#ctaButton:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    #ctaButton {
        font-size: 1em;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    #ctaButton {
        font-size: 0.9em;
        padding: 8px 12px;
    }
}
